<h1>Demo Using Angular 2 & Spring Boot CRUD Operation</h1>
<h3 *ngIf="productIdToUpdate; else create">
  Update Product for Id: {{productIdToUpdate}}
</h3>
<ng-template #create>
  <h3> Create New Product </h3>
</ng-template>
<div>
  <form [formGroup]="productForm" (ngSubmit)="onProductFormSubmit()">
    <table>
      <tr>
        <td>Enter Title</td>
        <td><input formControlName="title">
          <label *ngIf="productForm.get('title').invalid && processValidation" [ngClass]="'error'"> Title is required. </label>
        </td>
      </tr>
      <tr>
        <td>Enter Category</td>
        <td><input formControlName="category">
          <label *ngIf="productForm.get('category').invalid && processValidation" [ngClass]="'error'"> Category is required. </label>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td> <input type="radio" value="Complete" formControlName="status"> Complete
          <input type="radio" value="Incomplete" formControlName="status"> Incomplete

          <label *ngIf="productForm.get('status').invalid && processValidation" [ngClass]="'error'"> Status is required. </label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button *ngIf="!productIdToUpdate">CREATE</button>
          <button *ngIf="productIdToUpdate">UPDATE</button>
          <button (click)="backToCreateProduct()" *ngIf="productIdToUpdate">Go Back</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" [ngClass]="'success'">
      Product added successfully.
    </div>
    <div *ngIf="statusCode === 409" [ngClass]="'success'">
      Product already exists.
    </div>
    <div *ngIf="statusCode === 200" [ngClass]="'success'">
      Product updated successfully.
    </div>
    <div *ngIf="statusCode === 204" [ngClass]="'success'">
      Product deleted successfully.
    </div>
    <div *ngIf="statusCode === 500" [ngClass]="'error'">
      Internal Server Error.
    </div>
  </div>
  <ng-template #processing>
    <img *ngIf="requestProcessing" src="assets/images/loading.gif">
  </ng-template>
</div>
<h3>Product Details</h3>
<table>
  <tr>
    <th> Id</th>
    <th>Title</th>
    <th>Category</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let product of allProducts">
    <td>{{product.productId}}</td>
    <td>{{product.title}}</td>
    <td>{{product.category}}</td>
    <td>{{product.status}}</td>
    <td><button type="button" (click)="loadProductToEdit(product.productId)">Edit</button> </td>
    <td><button type="button" (click)="deleteProduct(product.productId)">Delete</button></td>
  </tr>
</table>